* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(225deg, #452B1F, #964B00, #786C3B 100%);
  font-family: Broadway;
  font-size: 25px;
  background-color: #786C3B; /* Caramel Brown */
}

.contenedor-principal {
  background-color: #F5DEB3; /* Cream */
  width: 90%;
  max-width: 1300px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.logos {
  font-size: 55px;
  font-weight: 800;
  color: #964B00; /* Mocha Brown */
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu a {
  font-size: 25px;
  border-bottom: 2px solid transparent;
  margin-left: 40px;
  color: #452B1F; /* Espresso */
  text-decoration: none;
  transition: all 0.5s ease;
}

.menu a:hover {
  border-bottom: 2px solid #964B00; /* Mocha Brown */
  color: #786C3B; /* Caramel Brown */
}

main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main .contenedor-imge {
  width: 30%;
  margin-right: 50px;
}

img {
  height: 300px;
  width: 280px;
  border-radius: 15px;
  margin-right: 20px;
}

.contenedor-texto .titulo {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 40px;
  color: #452B1F; /* Espresso */
}

.contenedor-texto p {
  margin-bottom: 40px;
  line-height: 35px;
  font-size: 20px;
  color: #432B1A; /* Dark Brown */
   font-family: Arial;
}
.contenedor-texto .cafe {
  font-weight: bold;
  color: #786C3B; /* Caramel Brown */
  font-style: normal;
}

.btn_link {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 100px;
  background: #964B00; /* Mocha Brown */
  margin-right: 15px;
  text-decoration: none;
  color: #101110;
}