*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #D7BDE2;
	font-family: Berlin Sans FB;
}

h1{
    text-align: center;
    font-size: 60px;
    margin: 15px 0px 30px;
    color: #7D3C98;
    text-shadow: 2px 2px 8px #000000;
}

.content{
	width: 90%;
	max-width: 910px;
	margin: auto;
	height: 80vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;

}

.table{
	width: 33%;
	height: 700px;
	margin: auto;
	border: 2px solid #5b2c6F;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 4px 0px #AF7AC5;
	text-align: center;
	flex-grow: 1;
	color: black;
	text-shadow: 3px 3px 5px #FFFFFF;
}

.table>h2{
	font-size: 25px;
	margin-bottom: 15px;

}
.table img{
	width: 200px;
	margin-bottom: 50px;
	border-radius: 10px;
}
.table>h3{
	font-size: 25px;
	margin-bottom: 10px;

}

.table>sup{
	font-size: 40px;

}

.table>p{
	font-size: 20px;
}

.boton{
	display: inline-block;
	width: 160px;
	padding: 11px;
	background: #b353ea;
	text-decoration: none;
	color: #ffffff;
	border-radius: 16px;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	margin: auto;
	margin-top: 13px;
	cursor: pointer;
	

}
.table:hover{
	color:#8a33bd;
	background:#DFAAFF;
	transition: 0.5s all;
	transform: scale(1.1);
	cursor: pointer	;
}
.btn_regresar {
  background-color: #7D3C98;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn_regresar:hover {
  background-color: #5b2c6F; 
}